@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
  min-height: 100vh;
}

/* width */
.scroll-black::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.scroll-black::-webkit-scrollbar-track {
  background: black;
}

/* Handle */
.scroll-black::-webkit-scrollbar-thumb {
  background: gray;
}

/* Handle on hover */
.scroll-black::-webkit-scrollbar-thumb:hover {
  background: gray;
}

.slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@media (min-width: 768px) {
  .resume {
    width: 800px;
  }
}

@media (max-width: 768px) {
  .text-overflow {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .tag-overflow {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}
